<!DOCTYPE HTML>
<html lang="en">
<head>
       <title>Vasco Tour</title>
    <link rel = "icon" type = "image/png" href = "/images/logo.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/includes/header_common_links"></div> <!-- todos los css -->
    <link rel="stylesheet" href="css/actividades.css">
</head>
<body>
<header>
    <nav th:replace="/includes/header :: header_fragment"></nav>
</header>
<div class="container">
    <div class=" text-center">
        <h1 class="pt-3">Actividades posibles</h1>
    </div>
    <div class="row">
        <div class="row my-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h2>Gaztelugatxe</h2>
                <p>Gaztelugatxe es un islote de la localidad vizcaína de Bermeo, País Vasco, España. Está unido al
                    continente por un puente de dos arcos. Sobre la isla hay una ermita dedicada a San Juan que data del
                    siglo X, aunque algunos descubrimientos datan del siglo IX.</p>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img-fluid" src="images/gaztelugatxe.jpg" alt="">
            </div>
        </div>
        <div class="row my-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img-fluid" src="images/flish.jpg" alt="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h2>Flysh de Zumaia</h2>
                <p>Una playa rocosa, con paredes enormes donde se reflejan el paso de los años. Podrás ver la fauna maritima
                    de la zona pulpos, cangrejos... Un plan ideal para disfrutar de la costa con la familia</p>
                <p></p>
            </div>

        </div>
        <div class="row my-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h2>Carting Olabarria</h2>
                <p>Una experiencia unica. ¡Disfruta conduciendo los coches de carreras mas TOP! Una bonita experiencia si
                    vienes con tu familia o amigos</p>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img-fluid" src="images/karting.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>
